body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

address {
    font-style: normal;
}

                        /*================= HEADER ===================*/

.header {
    padding-top: 24px;
    padding-bottom: 24px;
}

.conteiner {
    width: 1128px;
    margin: 0 auto;
    padding: 0 15px;
    outline: 1px solid red;
}

.header-conteiner {
    display: flex;
    
}

.header-nav {
    display: flex;
    justify-content: center;
}

.header-logo {
    color: var(--NAVY-BLUE, #2E2F42);
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.header-logo-span {
    color: #4D5AE5;
}

.header-nav-list {
    display: flex;
    padding-left: 76px;
    gap: 40px;
}

.header-nav-item {}

.header-nav-link {
    color: #2E2F42;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.50;
    letter-spacing: 0.02em;
}

.header-address {}

.header-address-list {
    display: flex;
    gap: 40px;
    justify-content: center;
}

.header-address-item {}

.header-address-link {
    color: var(--SLATE, #434455);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.50;
    letter-spacing: 0.02em;
}


                        /*====================================*/

                    /*================== MAIN ===================*/

.main {}

.hero {}

.hero-tatle {}

.hero-btn {}

.option {}

.visually-hidden {}

.option-list {}

.option-item {}

.option-icon {}

.option-tatle {}

.option-text {}

                        /*====================================*/

                    /*================== TEAM ==================*/

.taem {}

.taem-tatle {}

.taem-list {}

.taem-item {}

.taem-img {}

.taem-item-conteiner {}

.taem-item-tatle {}

.taem-item-text {}

.taem-item-icon {}

.taem-list-icon {}

.taem-link-icon {}

.taem-link-icon-svg {}

                        /*====================================*/

                    /*================= PARTFOLIO ===================*/

.parfolio {}

.parfolio-tatle {}

.parfolio-item {}

.parfolio-list {}

.parfolio-conteiner {}

.parfolio-img {}

.parfolio-text {}

.parfolio-item-conteiner {}

.parfolio-item-tatle {}

.parfolio-item-text {}

                        /*====================================*/

                    /*================= FOOTER ===================*/

.footer {}

.footer-conteiner {}

.footer-conteiner-logo {}

.footer-logo {}

.footer-logo-span {}

.footer-text {}

.content {}

.content-text {}

.content-item {}

.content-list {}

.content-link {}

.content-icon {}

.footer-trio {}

.footer-trio-text {}

.footer-trio-blok {}

.footer-trio-blok-list {}

.footer-trio-blok-item {}

.footer-trio-btn {}

.footer-trio-btn-icon {}

                        /*====================================*/