body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

address {
    font-style: normal;
}

.header {}

.conteiner {}

.header-conteiner {}

.header-nav {}

.header-logo {}

.header-logo-span {}

.header-nav-list {}

.header-nav-item {}

.header-nav-link {}

.header-address {}

.header-address-list {}

.header-address-item {}

.header-address-link {}

.main {}

.hero {}

.hero-tatle {}

.hero-btn {}

.option {}

.visually-hidden {}

.option-list {}

.option-item {}

.option-icon {}

.option-tatle {}

.option-text {}

.taem {}

.taem-tatle {}

.taem-list {}

.taem-item {}

.taem-img {}

.taem-item-conteiner {}

.taem-item-tatle {}

.taem-item-text {}

.taem-item-icon {}

.taem-list-icon {}

.taem-link-icon {}

.taem-link-icon-svg {}

.parfolio {}

.parfolio-tatle {}

.parfolio-item {}

.parfolio-list {}

.parfolio-conteiner {}

.parfolio-img {}

.parfolio-text {}

.parfolio-item-conteiner {}

.parfolio-item-tatle {}

.parfolio-item-text {}

.footer {}

.footer-conteiner {}

.footer-conteiner-logo {}

.footer-logo {}

.footer-logo-span {}

.footer-text {}

.content {}

.content-text {}

.content-item {}

.content-list {}

.content-link {}

.content-icon {}

.footer-trio {}

.footer-trio-text {}

.footer-trio-blok {}

.footer-trio-blok-list {}

.footer-trio-blok-item {}

.footer-trio-btn {}

.footer-trio-btn-icon {}